/* General */

:root {
  --primary-color: black;
  --secondary-color: white;
  --third-color: #3018df;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /*prevents scrolling */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  align-items: flex-end;
  display: flex;
  height: 100%;
  padding: 15px;
}

.even {
  justify-content: space-evenly;
}
.center {
  justify-content: center;
}

.column {
  flex-direction: column;
}
/* Header */

.navbar {
  margin: 0;
  height: 5em;
  padding: 0.5em 0;
  background: var(--primary-color);
}

.header-logo img {
  height: 5em;
  position: absolute;
  left: 0;
  background: none;
}

.nav > ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.header-item i {
  font-size: 2em;
}

.header-item,
.header-item i,
.header-item p {
  transition: 0.5s ease;
  color: var(--secondary-color);
  text-align: center;
  margin: 0;
  padding: 0 0.5em;
}

.header-item:hover {
  transition: 0.5s ease;
  filter: blur(3px);
  color: var(--third-color);
}

.social-media {
  position: absolute;
  top: 0;
  right: -20px;
  margin: 0;
  padding: 0;
}
/* Home */
.home.container {
  justify-content: space-evenly;
}
.my_name {
  display: flex;
  align-items: flex-start;
}

.wiggle {
  font-size: 72px;
  font-family: "Luckiest Guy", cursive;
  transition: all 01 ease-in-out;
}

.wiggle:hover {
  font-size: 100px;
  color: var(--third-color);
}

#spinning {
  position: relative;
  top: 5em;
  margin-top: 2.5em;
  display: inline-block;
  animation: rotation 15s infinite linear;
  height: 20em;
}

@keyframes rotation {
  50% {
    transform: scale(0.1) rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* About */

.words {
  border-radius: 4%;
  width: 445px;
  height: 670px;
  padding: 1em 1em;
  display: flex;
  margin: 15px;
  background-color: #80808052;
  box-shadow: 0 8px 6px -6px var(--primary-color);
}
.spotify-webplayer iframe {
  border-radius: 4%;
  margin: 15px;
  box-shadow: 0 8px 6px -6px var(--primary-color);
  transition: all 1.5s ease;
}

.spotify-webplayer:hover iframe {
  border-radius: 4%;
  transition: all 1.5s ease-out;
  box-shadow: 2px 10px 30px 0 var(--third-color);
}

.words:hover {
  border-radius: 4%;
  transition: all 1.5s ease-out;
  box-shadow: 0 8px 30px -6px var(--third-color);
}

.words.color-2:hover,
.spotify-webplayer.color-2:hover {
  border-radius: 4%;
  transition: all 1.5s ease-out;
  box-shadow: 0 8px 30px -6px white;
}

.words p {
  font-family: "Saira Extra Condensed", sans-serif;
  text-align: justify;
  font-size: 20px;
  font-weight: bolder;
}

#getout,
#getout p,
/* .words .moving-section,
.words .color-section-1,
.words .color-section-2,
.words .color-section-3 */
 {
  transition: all 1s ease;
}
/* 
.words:hover .moving-section {
  transition: all 1s ease;
  font-size: 15px;
} */

/* .words:hover .color-section-1 {
  transition: all 1s ease;
  font-size: 25px;
  color: var(--third-color);
} */
/* 
.words:hover .color-section-2 {
  transition: all 1s ease-in-out;
  font-size: 25px;
  color: red;
}

.words:hover .color-section-3 {
  transition: all 1s ease-in-out;
  font-size: 25px;
  color: green;
} */
/* Progress Bar */

.progress-bar {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #ccd816;
}

.filler {
  margin-right: 30px;
  background-color: #fff;
  background-repeat: repeat-y;
  background-size: 100% 88px;
  background-position: 0% 0%;
  background-image: repeating-linear-gradient(
    -25deg,
    #cff018 20px,
    #ea2e2e 20px,
    #c7df46 20px,
    #ea2e2e 40px,
    #e29f09 40px,
    #d3ce1e 60px,
    #ffa826 60px,
    #b1ec3d 80px
  );
  animation: barberpole 1s linear infinite;
  height: 100%;
  border-radius: inherit;
  transition: 2s ease-in;
}

@keyframes barberpole {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 99%;
  }
}

/* Skills */

#skill-list ul {
  flex-direction: column;
  list-style: none;
}

.skill {
  color: rgb(236, 100, 75);
  animation: wheelHueColor 20s infinite;
  font-size: 30px;
  line-height: 2;
  font-family: "ultimate_gameplayerpixel";
  transform: translateY(-50%);
}

@keyframes wheelHueColor {
  from,
  to {
    color: rgb(236, 100, 75);
  }
  10% {
    color: rgb(219, 10, 91);
  }
  20% {
    color: rgb(174, 168, 211);
  }
  30% {
    color: rgb(89, 171, 227);
  }
  40% {
    color: rgb(37, 116, 169);
  }
  50% {
    color: rgb(3, 201, 169);
  }
  60% {
    color: rgb(22, 160, 133);
  }
  70% {
    color: rgb(233, 212, 96);
  }
  80% {
    color: rgb(243, 156, 18);
  }
  90% {
    color: rgb(236, 240, 241);
  }
}

/* Projects */
.project {
  margin-top: 20px;
  display: block;
  width: 300px;
  border: 2px solid black;
  margin-right: 20px;
  border-radius: 10px;
}

.project-image img {
  width: 270px;
  height: 180px;
  margin: 3% 5% 3%;
  border: 2px black solid;
}

.project-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: black;
  padding: 5%;
}

.section-of-buttons button {
  background: black;
  color: white;
  border: 2px solid white;
  width: 9em;
  height: 3em;
  border-radius: 25px;
  margin: 1%;
  font: bold 14px arial;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

.section-of-buttons button:hover {
  background: white;
  color: black;
  transition: all 0.3s ease-in;
}

.project-name {
  font: bold 1em arial;
  text-align: center;
  margin-bottom: 3%;
  transition: all 1s ease;
  color: white;
}

.project-name:hover {
  font: bold 2em arial;
  transition: all 1s ease;
  color: white;
}
.project-buttons {
  display: flex;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%;
  margin: 10px 10px 30px;
}

.project-button {
  padding: 10px 20px;
  border: 2px solid white;
  color: white;
  background-color: black;
  margin-right: 20px;
  border-radius: 25px;
  text-transform: uppercase;
}

.project-skills,
.project-description {
  color: white;
  font: bold 15px arial;
  font-variant: small-caps;
  margin: 3% 1%;
  transition: all 2s;
}

.project-button:hover,
.active {
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
}

.project-demo,
.project-repo {
  color: white;
  text-decoration: none;
}

.project-demo:hover,
.project-repo:hover {
  color: black;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

button .close-btn {
  font-size: 10px;
}

/* Use when trying to figure out what values go together otherwise comment out */
/* .item1 {
  background: #c7df46;
}

.item2 {
  background: #ffa826;
}

.item3 {
  background: #3018df;
}

.item4 {
  background: var(--primary-color);
}

.item5 {
  background: #ea2e2e;
} */

/* Contacts */
.gradient {
  background: red;
  -webkit-animation: pos 9s infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in;
  animation: pos 9s infinite;
  animation-timing-function: ease-in;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 800px;
}

@keyframes pos {
  16% {
    background: blue;
  }
  32% {
    background: orange;
  }
  48% {
    background: green;
  }
  64% {
    background: yellow;
  }
  80% {
    background: purple;
    color: white;
  }

  100% {
    background: red;
  }
}

.contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30%;
  min-width: 400px;
}

.contact-form input[type="text"] {
  width: 100%;
  height: 3em;
  margin-bottom: 20px;
  font-size: 100%;
  font-weight: bold;
}

.contact-form input[type="text"]::placeholder {
  color: black;
  opacity: 0.5;
}

.contact-form label {
  position: relative;
  margin-right: 77%;
  font-weight: bold;
  margin-bottom: 10px;
}
.message {
  margin-bottom: 20px;
  width: 100%;
  font-size: 100%;
  font-weight: bold;
}

.draw {
  position: relative;
  background-color: #e1d7d7;
  border-radius: 20px;
  border: 5px solid black;
  transition: border 500ms ease-out;
  -webkit-transition: border 500ms ease-out;
  -moz-transition: border 500ms ease-out;
  -o-transition: border 500ms ease-out;
}

.draw:hover {
  border: 10px solid red;
  border-radius: 20px;
}

.submit-btn {
  width: 100%;
  background-color: white;
  border: black 3px solid;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: 500ms ease-out;
  -webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;
}

.submit-btn:hover {
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  letter-spacing: 10px;
}

/* Footer */

.btn {
  text-decoration: none;
  transition: 0.5s ease;
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  position: relative;
  border: 2px solid #000;
  margin-top: 0.3em;
  font: bolder 25px sans-serif;
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  transition: 0.5s ease;
  filter: blur(3px);
  background-color: var(--third-color);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--primary-color);
  height: 4em;
  display: flex;
  justify-content: space-around;
  padding: 2em 1em;
  border-top: 2px solid var(--primary-color);
}
